:root{

    box-sizing: border-box;
}

#phone{
    display: none;
}

#galery{
    height: 100%;
}

#desktop{
    display: flex;
    flex-wrap: wrap;
    height: 100lvh;
    justify-content: center;
    width: 100%;
    gap: 15px;
    padding: 15px 0;
    
}

.planet-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    border: 1px solid;
    border-radius: 10px;
    text-decoration: none;
    background-color: black;
    
}

.planet-card:hover{
    border: 1px var(--lightBlue) solid;
    box-shadow:
    0 0 6px 3px var(--lightBlue); 
    
    transition: 1s;
    
}

.planet-card img{
    width: 200px;
    height: 200px;
    padding: 5px;
}

.planet-card img:hover{
    width: 220px;
    height: 220px;
    transition: 1s;
}

.planet-card label{
    text-align: center;
    font-family: var(--spartan);
    font-size: 25px;
    
}

/* PHONE QUERY */
@media only screen and (max-width: 767px){
    
    #desktop{
        display: none;
    }

    #phone{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .planet-card img{
        width: 20px;
        height: 20px;
        
    }

    .planet-card{
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        border: none;
        border-bottom: 1px solid #979797;
        border-radius: 0;
        
    }

    .menu-planet{
        padding: 20px 0;
        display: flex;
        align-items: center;
    }

    .menu-planet label{
        margin-left: 20px;
        font-weight: 800;
        
    }

    .menu-ctr{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    

    .arrow img{
        width: 7px;
        height: auto;
    }
    

    


}

/* TABLET QUERY */

@media only screen and (max-width:1050px) and (min-width: 768px){

    #desktop{
        height: 100%;
        display: flex;
        justify-content: center;
        margin: 0;    
    }

    
}

