@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=League+Spartan:wght@400;600&display=swap');

:root {

    /* COLORS */
    --white: #FFFFFF;
    --black: #070724;
    --gray: #38384f;
    --lightGray: #838391;
    --lightBlue: #419EBB;
    --sand: #EDA249;
    --purple: #6F2ED6;
    --salmon: #D14C32;
    --red: #D83A34;
    --orange: #CD5120;
    --tiffany: #1EC1A2;
    --blue: #2D68F0;

    /* FONTS */
    --antonio: 'Antonio', sans-serif;
    --spartan: 'League Spartan', sans-serif;

}

*{
    color: var(--white);
    margin: 0;
}

/* FOOTER SECTION */
.footer{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    padding-bottom: 20px;
}

.footer p{
    font-family: var(--spartan);
    font-size: 15px;
    padding: 30px 30px 0 30px;

}

.footer h3{
    font-family: var(--antonio) ;
    font-size: 40px;
    padding-left: 30px;
}

.cards{
    border:1px solid var(--white);
    margin-top: 10px;
    height: 128px;
    width: 255px;
    
}

/* CONTENT SECTION */

.content-ctr{
    display: flex;
    justify-content: space-around;
    margin: 5% 20px;
}

.mercury-img img{
    width: 220px;
    height: 220px;
}

#mercury-geology img{
    width: 220px;
    height: 320px;
}

.venus-img img{
    width: 300px;
    height: 300px;
}

#venus-geology img{
    width: 300px;
    height: 360px;
}

.earth-img img{
    width: 320px;
    height: 320px;
}

#earth-geology img{
    width: 320px;
    height: 360px;
}

.mars-img img{
    width: 260px;
    height: 260px;
}

#mars-geology img {
    width: 260px;
    height: 340px;
}

.jupiter-img img{
    width: 450px;
    height: 450px;
}

.saturn-img img{
    width: 400px;
    height: 400px;
}



.uranus-img img{
    width: 380px;
    height: 380px;
}

#uranus-geology img{
    width: 380px;
    height: 420px;
}

.neptune-img img{
    width: 350px;
    height: 350px;
}

#neptune-geology img {
    width: 350px;
    height: 390px;
}

.content{
    width: 50%;
    
}

.img-ctr{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-ctr article p, h1{
    padding: 10px 20%;
    
}

.content-ctr article p{
    font-family: var(--spartan);
    font-size: 20px;
    line-height: 1.4;
}

.content h1{
    font-size: 80px;
    font-family: var(--antonio);
    justify-self: flex-start;
}

.source{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

#source-label{
    padding-right: 13px;
    font-size: 16px;
    
}

.source a{
    font-size: 13px;
}


/* BUTTON SECTION */
#buttons a{
    display: grid;
    border: 1px solid var(--white);
    grid-auto-flow: column;
    align-items: center;
    text-decoration: none;
    font-family: var(--spartan);
    
}

#buttons p{
    padding: 0;
}

#buttons .buttonNumber{
    padding-left: 20px;
    color: rgba(255, 255, 255, 0.500);
}

#buttons a{
    margin: 10px 20%;
    height: 48px;
}

.buttons-mercury a.active{
    background-color: var(--lightBlue);
}

.buttons-venus a.active{
    background-color: var(--sand);
}

.buttons-earth a.active{
    background-color: var(--purple);
}

.buttons-mars a.active{
    background-color: var(--salmon);
}

.buttons-jupiter a.active{
    background-color: var(--red);
}

.buttons-saturn a.active{
    background-color: var(--orange);
}

.buttons-uranus a.active{
    background-color: var(--tiffany);
}

.buttons-neptune a.active{
    background-color: var(--blue);
}


