@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=League+Spartan:wght@400;600&display=swap');

:root {

    /* COLORS */
    --white: #FFFFFF;
    --black: #070724;
    --gray: #38384f;
    --lightGray: #838391;
    --lightBlue: #419EBB;
    --sand: #EDA249;
    --purple: #6F2ED6;
    --salmon: #D14C32;
    --red: #D83A34;
    --orange: #CD5120;
    --tiffany: #1EC1A2;
    --blue: #2D68F0;

    /* FONTS */
    --antonio: 'Antonio', sans-serif;
    --spartan: 'League Spartan', sans-serif;

}

*{
    color: var(--white);
    margin: 0;
}

/* FOOTER SECTION */
.footer{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    padding-bottom: 20px;
}

.footer p{
    font-family: var(--spartan);
    font-size: 15px;
    padding: 30px 30px 0 30px;

}

.footer h3{
    font-family: var(--antonio) ;
    font-size: 40px;
    padding-left: 30px;
}

.cards{
    border:1px solid var(--white);
    margin-top: 10px;
    height: 128px;
    width: 255px;
    
}

/* CONTENT SECTION */

.content-ctr{
    display: flex;
    justify-content: space-around;
    margin: 5% 20px;
}

.mercury-img img{
    width: 220px;
    height: 320px;
}

#mercury-geology img{
    width: 220px;
    height: 220px;
}

.venus-img img{
    width: 300px;
    height: 300px;
}

#venus-geology img{
    width: 300px;
    height: 360px;
}

.earth-img img{
    width: 320px;
    height: 320px;
}

#earth-geology img{
    width: 320px;
    height: 360px;
}

.mars-img img{
    width: 260px;
    height: 260px;
}

#mars-geology img {
    width: 260px;
    height: 340px;
}

.jupiter-img img{
    width: 450px;
    height: 450px;
}

.saturn-img img{
    width: 400px;
    height: 400px;
}





.uranus-img img{
    width: 380px;
    height: 380px;
}

#uranus-geology img{
    width: 380px;
    height: 420px;
}

.neptune-img img{
    width: 350px;
    height: 350px;
}

#neptune-geology img {
    width: 350px;
    height: 390px;
}

.content{
    width: 50%;
    
}

.img-ctr{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-ctr article p, h1{
    padding: 10px 20%;
    
}

.content-ctr article p{
    font-family: var(--spartan);
    font-size: 20px;
    line-height: 1.4;
}

.content h1{
    font-size: 80px;
    font-family: var(--antonio);
    justify-self: flex-start;
}

.source{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

#source-label{
    padding-right: 13px;
    font-size: 16px;
    
}

.source a{
    font-size: 13px;
}


/* BUTTON SECTION */
#buttons a{
    display: grid;
    border: 1px solid var(--white);
    grid-auto-flow: column;
    align-items: center;
    text-decoration: none;
    font-family: var(--spartan);
    margin: 10px 20%;
    height: 48px;
    
}

#buttons p{
    padding: 0;
}

#buttons .buttonNumber{
    padding-left: 20px;
    color: rgba(255, 255, 255, 0.500);
}


#phone-buttons{
    display: none;
}

.buttons-mercury a.active{
    background-color: var(--lightBlue);
}

.buttons-venus a.active{
    background-color: var(--sand);
}

.buttons-earth a.active{
    background-color: var(--purple);
}

.buttons-mars a.active{
    background-color: var(--salmon);
}

.buttons-jupiter a.active{
    background-color: var(--red);
}

.buttons-saturn a.active{
    background-color: var(--orange);
}

.buttons-uranus a.active{
    background-color: var(--tiffany);
}

.buttons-neptune a.active{
    background-color: var(--blue);
}


/* MEDIA QUERY SECTION */

@media only screen and (max-width: 480px){

    .content-ctr{
        flex-direction: column;
        margin: 0;
        width: 100%;
    }

    /* IMAGE */

    .img-ctr{
        margin: 70px 0;
    }

    .content{
        width: 100%;
    }

    .content h1{
        font-size: 40px;
        text-align: center;
    }

    /* TEXT */
    .content-ctr article p{
        width: 80%;
        padding: 0;
        font-family: var(--spartan);
        font-size: 15px;
        margin: auto;
        text-align: justify;
        
    }

    /* SOURCE */

    .source{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 30px;
        
        
    }
    
    #source-label{
        padding-right: 0px;
        font-size: 16px;
        width: 60px;
        margin: 0;
        padding-top: 5px;
        
    }
    
    .source a{
        font-size: 13px;
    }

    /* BUTTONS */

    #desktop-buttons{
        display: none;
    }

    #phone-buttons{
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    #buttons{
        width: 100%;
        display: flex;
        justify-content: space-around;
        border-top : 1px solid #9797977a;
        border-bottom: 1px solid #9797977a;
        align-items: center;
        
    }

    #buttons a{
        display: block;
        border: none;
        margin: 0;
        font-size: 12px;
        padding: 20px 0;
        height: auto;
        
        
        
    }

    .buttonNumber{
        display: none;
    }

    .buttons-mercury a.active{
        font-weight: bold;
        text-shadow:1px 1px 10px var(--lightBlue), 1px 1px 10px var(--lightBlue);
        background-color: transparent;
    }
    
    .buttons-venus a.active{
        font-weight: bold;
        text-shadow:1px 1px 10px var(--lightBlue), 1px 1px 10px var(--lightBlue);
        background-color: transparent;
    }
    
    .buttons-earth a.active{
        font-weight: bold;
        text-shadow:1px 1px 10px var(--lightBlue), 1px 1px 10px var(--lightBlue);
        background-color: transparent;
    }
    
    .buttons-mars a.active{
        font-weight: bold;
        text-shadow:1px 1px 10px var(--lightBlue), 1px 1px 10px var(--lightBlue);
        background-color: transparent;
    }
    
    .buttons-jupiter a.active{
        font-weight: bold;
        text-shadow:1px 1px 10px var(--lightBlue), 1px 1px 10px var(--lightBlue);
        background-color: transparent;
    }
    
    .buttons-saturn a.active{
        font-weight: bold;
        text-shadow:1px 1px 10px var(--lightBlue), 1px 1px 10px var(--lightBlue);
        background-color: transparent;
    }
    
    .buttons-uranus a.active{
        font-weight: bold;
        text-shadow:1px 1px 10px var(--lightBlue), 1px 1px 10px var(--lightBlue);
        background-color: transparent;
    }
    
    .buttons-neptune a.active{
        font-weight: bold;
        text-shadow:1px 1px 10px var(--lightBlue), 1px 1px 10px var(--lightBlue);
        background-color: transparent;
    }


    /* FOOTER SECTION */

    .footer{
        flex-direction: column;
        align-items: center;
    }

    .cards{
        display: flex;
        align-items: center;
        width: 100%;
        height: auto;
        justify-content: space-between;
        border: 1px solid #9797977a;
    }

    .cards h3{
        font-size: 20px;
        font-weight: 400;
    }

    .cards p{
        font-size: 12px;
        padding: 0;
        margin-left: 15px;
        color: #979797;
        
    }

    .cards h3,p {
        padding: 10px;
    }



    /* IMAGE SUBSECTION */

    .mercury-img img{
        width: 120px;
        height: 120px;
    }
    
    #mercury-geology img{
        width: 120px;
        height: 180px;
    }


    .venus-img img{
        width: 150px;
        height: 150px;
    }
    
    #venus-geology img{
        width: 150px;
        height: 180px;
    }
    
    .earth-img img{
        width: 170px;
        height: 170px;
    }
    
    #earth-geology img{
        width: 170px;
        height: 190px;
    }
    
    .mars-img img{
        width: 135px;
        height: 135px;
    }
    
    #mars-geology img {
        width: 135px;
        height: 180px;
    }
    
    .jupiter-img img{
        width: 300px;
        height: 300px;
    }
    
    .saturn-img img{
        width: 260px;
        height: 260px;
    }
    
    
    
    .uranus-img img{
        width: 240px;
        height: 240px;
    }
    
    #uranus-geology img{
        width: 240px;
        height: 270px;
    }
    
    .neptune-img img{
        width: 230px;
        height: 230px;
    }
    
    #neptune-geology img {
        width: 230px;
        height: 260px;
    }
}

/* TABLET MEDIA QUERY */

@media only screen and (max-width:1050px) and (min-width: 481px) { 
    
    .content-ctr{
        flex-direction: column;
    }

    .content-ctr article{
        display: flex;
        width: 90%;
    }

}


