#root{
    
    background-image: url("./img/back.png");
    margin: 0;
    height: 100%;
    
    

}

#root header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px;
    height: 85px;
    border-bottom: 2px var(--white) solid;
    
}

#home{
    font-family: var(--antonio);
    font-size: 36px;
    font-weight: 400;
    text-decoration: none;
    
}

#links{
    font-family: var(--spartan);
    display: flex;
    justify-content: space-between;
    width: 50%;
    font-size: 20px;
    
}

#links a{
    text-decoration: none;
}

#links a.active{
    font-weight: bold;
    text-shadow:1px 1px 10px var(--lightBlue), 1px 1px 10px var(--lightBlue);
    
}

/* PHONE MEDIA QUERY */
@media only screen and (max-width: 870px){
    
    
    #links{
        display: none;
    }

    #home{
        text-align: center;
        width: 100%;
        font-size: 60px;
    }

    #root header{
        height: 70px;
        border-bottom: 0;
    }

    

    

}


/* TABLET MEDIA QUERY */

@media only screen and (max-width:1050px) and (min-width: 871px) { 
    
    #root header{
        
        flex-direction: column;
        padding: 40px;
    }

    #links{
        width: 90%;
        
    } 

 


}


